
*.aux
*.log
*.tex
Homework/HW1/HW1_Report_files/mediabag/Sunflower-field-Farg.jpg
.DS_Store
*.css
*.html
*.woff
*.js
Homework/HW2/Homework2Template.qmd
Homework/HW2/calib_graph_gradtree.png
Homework/HW2/calib_graph_logreg.png
*.qmd
Homework/HW2/quarto.sh
